body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1,h2,h3,h4 {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

header {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.logo-container > img {
	max-width: 200px;
}

.try-it {
    padding: 0 30px;
    background-color: #FFF;
    color: #FF52BF;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #FF52BF;
    cursor: pointer;
}

.main-content {

}

.introduction {
	text-align: center;
    padding: 60px 0;
}

.introduction > p {
	margin: 1rem auto;
    width: 450px;
}

.get-started {
	padding: 15px 45px;
	margin: 1rem 1rem 2rem 1rem;
    border: 0;
    border-radius: 5px;
    background-color: #FF52BF;
    color: #FFF;
    font-weight: 700;
    box-shadow: 2px 2px 7px #d7d7d7;
    cursor: pointer;
}

.mockups-container {
	margin: 2rem;
}

.mockups-container > img {
	max-width: 660px;
}

.benefits {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

/*instead od justify-content:space-evenly*/
.benefits:before,
.benefits:after {
  content: '';
  display: block;
}

.benefits-content {
	width: 380px;
}

.img-container {
	align-self: center;
}

.img-container > img {
	max-width: 450px;
}

.build-community {
	padding: 60px 0;
	text-align: center;
}

footer {
	padding: 60px 0 0 0;
	background-color: rgb(0, 37, 46);
	color: #fff;
}

.footer-logo {
	padding: 0 60px;
}

.footer-logo > img {
	filter: invert(100%);
}

.footer-content {
	display: flex;
	padding: 0 60px;
}

.media {
	width: 300px;
}

.icons {
	font-size: 1.5rem;
}

.tabs {
    display: flex;
    flex: 1;
    justify-content: space-between;
    line-height: 2;
}

.tabs:before,
.tabs:after {
  content: '';
  display: block;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: #fff;
}

.input-field > input {
	padding: 5px;
}

.input-field > button {
	padding: 0.45rem;
    float: right;
    background-color: #FF52BF;
    border: 0;
    cursor: pointer;
}

.credits {
	position: relative;
}

.credits > p {
	position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.credits > img {
	display: block;
}